#projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  height: 100vh;
}

#projects h1{
  font-size: 40px;
  font-weight: 500;
}

.projects-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 100vw;
}

.project-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #7fbfff;
  padding: 10px 20px;
  border-radius: 4px;

  height: 200px;
  max-width: 700px;
}

.project-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-img{
  width: 225px;
  border-radius: 3px;
}

.project-title{
  font-size: 30px;
  font-weight: 500;
  margin: 10px 20px;
  max-width: 500px;
}

.project-description{
  font-size: 18px;
  margin: 10px 20px;
  max-width: 400px;
  text-align: justify;
}
.note-dev{
  position: fixed;
  bottom: 10px;
  font-size: 14px;
  color:rgb(36, 36, 36);
}

@media only screen and (max-width: 1400px){
  .projects-wrapper{
    flex-direction: column;
  }
  .project-wrapper{
    margin: 10px 20px;
  }
}

@media only screen and (max-width: 670px) {

  #projects{
    text-align: center;
  }

  .projects-wrapper{
    flex-direction: column;
  }
  .project-wrapper{
    margin: 10px 20px;
  }
  .project-img{
    width: 125px;
  }
  .project-title{
    font-size: 25px;
  }
  .project-description{
    font-size: 14px;
    text-align: justify;
  }

}