.nav-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  
  position: sticky;
  top: 0px;

  width: 100vw;

  padding: 10px 20px;
  font-size: larger;
  font-weight: 400;
  background-color: #007fff;
  z-index: 999;
}

.nav-name{
  font-weight: 700;
}

.nav-container a{
  text-decoration: none;
  color: #ffffff;
}

.nav-container ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.mobile-view-nav{
  display: none;
}

.nav-container li{
  display: inline;
  padding: 10px 20px; 
}

.nav-container li:hover{
  background-color: #0065cc;
}

.nav-container li:active{
  background-color: #0065cc;
}

.active{
  background-color: #0065cc;
}

.mobile-nav-options{
  position: absolute;
  display: none;
  top: 20px;
  right: 10px;
  height: 40px;
  transform: translateY(-75px);
}

#menu.invisible{
  display: none;
}
#close.invisible{
  display: none;
}
#menu.visible{
  display: block;
}
#close.visible{
  display: block;
}

@media only screen and (max-width: 600px) {

  .nav-container{
    height: 70px;
  }
  .nav-container li{
    display: block;
    color: white;
  }
  .desktop-view-nav{
    display: none;
  }
  .mobile-view-nav{
    display: flex;
    flex-direction: column;
    background: blue;
    transform: translateY(125px);
    width: 30%;
  }
  .mobile-nav-options{
    display: block;
  }
  .mobile-nav-options:hover{
    cursor: pointer;
  }
  #close{
    display: none;
  }
}
